<!DOCTYPE html>
<html>
    <head>
        <title>EquiQuote: The Source Gender Tool</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&display=swap" rel="stylesheet">
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!-- Favicons -->
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <h1>EquiQuote: The Source Gender Tool</h1>

    <div id="sidePanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav(event)">×</a>
        <h2>About This App</h2>
        <p>I'm Melissa Zhu, a journalist from Singapore who has worked at news outlets including Channel NewsAsia and the South China Morning Post.</p>
        <p>EquiQuote is my 2023 dissertation project for my Master's degree in Computational and Data Journalism at Cardiff University. Its goal is to automatically detect a story’s secondary sources, from articles entered into the text field, and suggest alternative sources if there is a gender imbalance.
        <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7845988/" target="_blank" rel="noopener noreferrer">Research shows</a> that men are quoted about three times as frequently as women in the news, reflecting a persistent underrepresentation of women's voices in the media.</p>
        <p>My proposed solution uses <a href="https://openai.com/research/gpt-4" target="_blank" rel="noopener noreferrer">OpenAI's GPT-4 model</a> to detect where the story takes place, as well as the name and gender of each source, the quotes attributed to them and the role they play in the story (which could be either professional or personal).</p>
        <p>It focuses on <em>additional</em> sources: people quoted who are not the main subject or newsmaker. Journalists often have to include the main newsmaker, but they have a choice as to who they interview to provide expert opinion or additional perspectives.</p>
        <p>Ideally, this should be used prior to a story being published, so journalists can assess the gender balance of sources quoted in their stories and consider whether there is a need to talk to more people.</p>
        <p>When EquiQuote detects a gender imbalance it uses <a href="https://developers.google.com/custom-search/v1/overview" target="_blank">Google's Custom Search API</a> to look for LinkedIn profiles of people from the underrepresented gender who might have similar backgrounds and expertise as those already in the story (assuming they were quoted in a professional capacity). Where possibly useful profiles are found, it will suggest them.</p>
        <p>It may not be possible to ever achieve 100% accuracy without asking the sources themselves what gender they identify with. The app aims to provide an informed estimate of the gender balance in stories based on names, pronouns and honorifics.</p>
        <p>I do not collect any of the user input from this app. The input is however used directly to make calls to OpenAI's API to generate the results. OpenAI's <a href="https://openai.com/api-data-privacy" target="_blank" rel="noopener noreferrer">API data privacy policy</a> states it does not use these inputs to train its models.</p>
        <p><a href="mailto:ZhuM17@cardiff.ac.uk" target="_blank">Contact me</a> if you have any questions, feedback or suggestions.</p>
      </div>
      
    <button id="aboutButton" onclick="toggleNav(event)">About</button>

    <div id="main_container">
        <div id="content">
            <form id="text_form">
                <h2>Text input</h2>
                <div id="form_container">
                    <div class="form-field">
                        <label for="article_text"><p>Paste an article below to see an analysis of the sources quoted. Please note there is a maximum of 1000 words, and text beyond this limit will not be considered:</p></label>

                        <textarea id="article_text" name="article_text" oninput="countWords(this, document.getElementById('wordCount'))"></textarea>
                    </div>
                    <p style="text-align: right;">Word count: <span id="wordCount" style="color: #212121;">0</span>/1000</p>

                    <div class="form-field" id ="form-buttons">
                        <button id="analyse-button" type="button">ANALYSE</button>
                        <button id="reset-button" type="button">RESET</button>
                    </div>
                </div>
            
            </form>
            <div id="results">
                <h2>Results</h2>
                <div id="results_container">
                    <div id="recommendations">
                        <div id="results_statement" style="display: none;"></div>
                        <div id="job_links" style="display: none;"></div>
                    </div>
                    <div id="loading-spinner" style="display: none;">
                        <img src="/images/loading.gif" alt="Loading...">
                    </div>
                    
                    <div id="chart"></div>
                    <div id="source_table">
                    </div>
                </div>
            </div>
            
            <!-- Modal for profile recommendations -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modal_body"></p>
                </div>
            </div>
        </div>
    </div>  

    <script src="/js/functions.js"></script>
</body>
</html>
