<!DOCTYPE html>
<html>
    <head>
        <title>UK-based female source generator</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
<body>
    <h1>UK-based female source generator</h1>
    <div id="container">
        <form action="/scrape" method="post">
            <label for="job_title">Enter a job title to find sources that are <em>probably</em> women based on their pronouns and names:</label>
            <input type="text" id="job_title" name="job_title">
            <input type="submit" value="Submit">
        </form>
    </div>  
</body>
</html>
