<!DOCTYPE html>
<html>
    <head>
        <title>EquiQuote: The Source Gender Tool</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&display=swap" rel="stylesheet">
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!-- Favicons -->
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    </head>
<body>
    <h1>EquiQuote: The Source Gender Tool</h1>
    <div id="main_container">
        <div id="content">
            <form id="text_form">
                <h2>Text input</h2>
                <div id="form_container">
                    <div class="form-field">
                        <label for="article_text"><p>Enter some article text to see additional sources quoted, aside from the main newsmaker or subject of the story. Please keep your input to a maximum of 1000 words:</p></label>

                        <textarea id="article_text" name="article_text" oninput="countWords(this, document.getElementById('wordCount'))"></textarea>
                    </div>
                    <p style="text-align: right;">Word count: <span id="wordCount" style="color: #212121;">0</span>/1000</p>

                    <div class="form-field" id ="form-buttons">
                        <button id="analyse-button" type="button" onclick="analyseArticle()">ANALYSE</button>
                        <button id="reset-button" type="button" onclick="resetArticle()">RESET</button>
                    </div>
                </div>
            
            </form>
            <div id="results">
                <h2>Results</h2>
                <div id="results_container">
                    <div id="recommendations">
                        <div id="results_statement" style="display: none;"></div>
                        <div id="job_links" style="display: none;"></div>
                    </div>
                    <div id="loading-spinner" style="display: none;">
                        <img src="/images/loading.gif" alt="Loading...">
                    </div>
                    
                    <div id="chart"></div>
                    <div id="source_table">
                    </div>
                </div>
            </div>
            
            <!-- Modal for profile recommendations -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modal_body"></p>
                </div>
            </div>
        </div>
    </div>  

    <script src="/js/functions.js"></script>
</body>
</html>
