body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Baskerville', 'Baskerville Old Face', 'Garamond', 'Times New Roman', serif;
  box-sizing: border-box
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 40px); /* Adjust this value based on the height of your h1 */
  overflow: hidden;
}

#content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#results {
  width: 50%;
  height: 100%;
  overflow-y: auto; /* Adds a scroll bar when the content is too long */
}

h1 {
  margin-bottom: 30px; 
}

h1, h2, form {
  text-align: center;
}

h2 {
  color: #f44336;
}

#job_links {
  padding: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-field {
  margin: 20px 0;
}
.form-field label {
  display: block;
  margin-bottom: 10px;
}
.form-field textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
}

#form-buttons {
  display: flex;
  flex-direction: column;
}

#analyse-button {
  background-color: #f44336;
}

#reset-button {
  background-color: #5B7C99;
}

.form-field button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#analyse-button:disabled, #reset-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 20px;
}

#text_form {
  width: 50%;
  margin-left: 20px;
  border-right: 1px solid #ccc; /* Adds a vertical line to the right side of the form */
  padding-right: 10px; /* Adds some space between the form and the border */
  box-sizing: border-box;
}

#text_form p {
  text-align: right;
}

form input {
  margin-top: 10px;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

input[type="text"], textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

#article_text {
  height: 300px;
}

#loading-spinner {
  text-align: center;
  padding: 20px;
}
#loading-spinner img {
  width: 100px;
}

#results_data {
  padding: 0 20px 20px 20px;
}

/* Table styles */
table {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

/* Gender balance statement style */

#results_statement {
  background-color: #FFCD91;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: larger;
}

#job_links.visible {
  display: block;
}

input[type="submit"] {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}
