body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: #212121;
  overflow: hidden;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 30px;
  color: #212121;
}

h1 {
  font-family: "Roboto Slab", "Times New Roman", "Georgia", serif;
}

h1, h2, form {
  text-align: center;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
  font-variant: small-caps;
  color: #3a3030;
}

p a {
  color: #CD0010; 
  text-decoration: none;
  cursor: pointer;
}

p a:hover {
  color: #990000;
}

.sidepanel  {
  height: 100%;
  max-height: calc(100vh - 60px); 
  width: 28%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.5s;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.sidepanel h2 {
  color: white;
}

.sidepanel p {
  padding: 10px 20px 0px 20px;
}

.sidepanel a {
  text-decoration: none;
  color: #aaa;
}

.closebtn a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.sidepanel a:hover, .sidepanel a:focus {
  color: white;
}

#aboutButton {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  background-color: #CD0010;
  color: white;
  font-variant: small-caps;
  font-size: 1.5em;
  border: none;
  border-radius: 0px 5px 5px 0px;
  position: fixed;
  top: 15%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);
  transform-origin: top left;
  padding: 15px 10px;
  cursor: pointer;
  transition: 0.5s;
}

#aboutButton:hover {
  background-color: #990000;
}

#main_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 40px); 
}

#content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

#results {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

#results_container {
  padding: 20px 10px;
  max-height: calc(100vh - 200px);
  overflow: auto; /* Scroll-bar */
}

#job_links {
  padding: 10px;
}

.jobLinks {
  text-Decoration: none;
  color: #CD0010;
  cursor: pointer;
}

.jobLinks:hover {
  color: #990000;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-height: calc(100vh - 200px);
  overflow: auto; /* Enable scroll if needed */
}

.modal a {
  text-decoration: none;
  color: #CD0010;
  cursor: pointer;
}

#flex-container {
  display: flex;
  justify-content: center;
}

#redirect_google {
  display: inline-block;
  background-color: #F5F5F5;
  padding: 5px;
  margin: 0px auto;
  font-size: smaller;
}

.profile_link {
  font-size: larger;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-field {
  margin: 20px 0;
}
label {
  display: block;
  margin-bottom: 10px;
}

label p {
  font-size: 1.1rem;
  text-align: left;
}

textarea, button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 1em;
  background-color: #F5F5F5;
}

#form-buttons {
  display: flex;
  flex-direction: column;
}

#analyse-button, #reset-button {
  font-size: 1em;
  font-weight: 500;
  font-variant: small-caps;
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#analyse-button {
  background-color: #CD0010;
}

#reset-button {
  background-color: #181414;
}

#analyse-button:disabled, #reset-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 20px;
}

#form_container {
  max-height: calc(100vh - 150px);
  overflow: auto; /* Scroll-bar */
}

#text_form {
  width: 50%;
  height: 100%;
  margin-left: 20px;
  padding-right: 20px; /* Adds some space between the form and the border */
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

form input {
  margin-top: 10px;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

input[type="text"], textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

#article_text {
  height: 300px;
}

#loading-spinner {
  text-align: center;
  padding: 20px;
}
#loading-spinner img {
  width: 100px;
}

#chart, #results_data {
  margin: 10px;
  padding: 0 20px 20px 20px;
}

/* Table styles */
table {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

/* Gender balance statement style */

#results_statement {
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 1.2rem;
}

/* Typing effect for when job suggestions are loading */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.type-animation {
  border-right: 0.2em solid black;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;  /* For a typewriter effect */
  animation: typing 3s steps(40, end), blink 0.75s step-end infinite;
}

#job_links.visible {
  display: block;
}

/* Show confidence level in tool tip on hover over gender info icon */
.info-icon {
  position: relative;
  display: inline-block;
}

.info-icon i {
  color: #aaa;
}

.info-icon i:hover, .info-icon i:focus {
  color: black;
  cursor: pointer;
}

.table-tooltip {
  position: absolute;
  opacity: 0;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  display: none;
  bottom: 150%;
  left: 50%;
  transform: translate(-50%, 0);
  width: auto;
  height: auto;
  font: 12px sans-serif;
  text-align: left;
  z-index: 1; /* Places the tooltip above other elements */
}


/* Tooltips for D3 chart */

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  text-align: left;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

@media screen and (max-width: 992px) {

  body {
    font-size: 0.8em;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5em;
  }

  #main_container {
    height: calc(100vh - 20px); 
  }

  .sidepanel  {
    width: 50%;
  }

  #aboutButton {
    top: 10%;
    font-size: 1.5em;
  }

  #content {
    flex-direction: column;
  }

  #results, #text_form {
    width: 100%;
    height: 50%;
  }

  #text_form {
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  #form_container {
    max-height: calc(50vh - 150px);
  }

  .modal-content {
    width: 90%; 
    max-height: calc(80vh - 200px);
  }

}

@media screen and (max-width: 768px) {

  body {
    font-size: 0.7em;
  }

  h1 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1.3em;
  }

  .sidepanel {
    width: 100%;
    height: 80vh;
    left: 0;
    top: -80vh;
    transform: translateY(0);
  }
  
  #aboutButton {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 5px 5px;
  }
}

@media screen and (max-width: 576px) {

  body {
    font-size: 0.6em;
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.1em;
  }

  .sidepanel  {
    width: 100%;
  }

  #aboutButton {
    display: none;
  }

  #form-buttons {
    flex-direction: row;
    justify-content: space-around;
  }

  #analyse-button, #reset-button {
    padding: 5px 10px;
  }

}
