body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: #212121;
}

#input_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 40px); 
}

#content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

#results {
  width: 50%;
  height: 100%;
  overflow: auto;
}

#results_container {
  padding: 10px;
  max-height: calc(100vh - 40px);
  overflow: auto; /* Scroll-bar */
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 30px;
  color: #212121;
}

h1 {
  font-family: "Roboto Slab", "Times New Roman", "Georgia", serif;
}

h1, h2, form {
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  font-variant: small-caps;
  color: #3a3030;
}

#job_links {
  padding: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-field {
  margin: 20px 0;
}
label {
  display: block;
  margin-bottom: 10px;
}

label p {
  font-size: 1.1em;
  font-weight: 300;
}

textarea, button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 1em;
  background-color: #F5F5F5;
}

#form-buttons {
  display: flex;
  flex-direction: column;
  font-variant: small-caps;
  font-weight: 500;
}

#analyse-button {
  background-color: #CD0010;
}

#reset-button {
  background-color: #181414;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#analyse-button:disabled, #reset-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 20px;
}

#text_form {
  width: 50%;
  height: 100%; 
  overflow: auto;
  margin-left: 20px;
  padding-right: 10px; /* Adds some space between the form and the border */
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

form input {
  margin-top: 10px;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

input[type="text"], textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

#article_text {
  height: 300px;
}

label p {
  text-align: left;
}

#loading-spinner {
  text-align: center;
  padding: 20px;
}
#loading-spinner img {
  width: 100px;
}

#chart, #results_data {
  margin: 10px;
  padding: 0 20px 20px 20px;
}

/* Table styles */
table {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

/* Gender balance statement style */

#results_statement {
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: larger;
}

#job_links.visible {
  display: block;
}

/* Show confidence level in tool tip on hover over gender info icon */
.info-icon {
  position: relative;
  display: inline-block;
}

.info-icon i {
  color: #aaa;
}

.info-icon i:hover, .info-icon i:focus {
  color: black;
  cursor: pointer;
}

.table-tooltip {
  position: absolute;
  opacity: 0;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  display: none;
  bottom: 150%;
  left: 50%;
  transform: translate(-50%, 0);
  width: auto;
  height: auto;
  font: 12px sans-serif;
  text-align: left;
  z-index: 1; /* Places the tooltip above other elements */
}


/* Tooltips for D3 chart */

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  text-align: left;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}